<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BmiResultActivity"></activity>
        <activity android:name=".Bmi" />
        <activity android:name=".Projects" />
        <activity android:name=".otherwork" />
        <activity android:name=".Relatedwork" />
        <activity android:name=".Education" />
        <activity android:name=".Highlights" />
        <activity android:name=".About" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>